<!-- ADD SPOT FORM -->
<div id="add_form">
	
	<div class="add_title_bar">
		<div class="add_date">
			12:15  2012-09-01
		</div>
		<h2 class="add_title">
			NAME YOUR SPOT
		</h2>
	</div>
	<div class="input_container">
		<input id="spot_title" type="text" name="spot_title" placeholder="Unnamed Spot - 2012-09-01" />
	</div>	
	<div class="img_box">
		<div class="img_box_teaser">
			<img src="img/default_img_80.png" alt="">
		</div>
		<div class="btn_box">
			<a href="" class="take_picture glossy_button"><span class="icon40 cam left"></span>TAKE PICTURE</a>
			<a href="" class="select_image glossy_button"><span class="icon40 img left"></span>SELECET IMAGE</a>
			<a href="" class="default_map glossy_button last" ><span class="icon40 map left"></span>DEFAULT MAP</a>
		</div>
	</div>
	
	<div class="tag_edit">
		<h2>TAGS</h2>
		<a class="delete_tags icon30 trash left"></a>
		<div class="tag_group">
		</div>
		<div class="input_container">
			<input id="add_tag" name="add_tag" type="text" placeholder="create new tag" /><a href="!addTag">ADD TAG</a>
		</div>	
	</div>
	
	<div class="main_button_group">
		<div class="half left">
			<a href="views/spotslist.html" class="main_cancel glossy_button red">CANCEL</a>
		</div>
		<div class="half left">
			<a href="views/spotslist.html" class="main_confirm glossy_button green">ADD SPOTT</a>
		</div>
	</div>
	<div id="scripter">
	<script type="text/javascript">
		$(document).bind('renderview',function(){
			console.log('Render ADD-Form');
			
			$('body, html').css('background-color','#E8E6E6');
			content.append($('#add_form'));
			
			$('#add_tag').bind('keyup',checkTag);
			$('#spot_title').bind('keyup',checkName);
			
			//last call
			basicUi();
			
		})
		function exitView(){
			$('body, html').css('background-color','#ffffff');
		}
		function checkName(event){
			content.append('AA-');
			var obj = null;
			if(event){
				if(event.keyCode == 13){
					addTag();
				}
				obj = $(event.target);
			}
			else{
				console.log(this);
			}
			var pattern = new RegExp('[^A-Za-z0-9_äÄöÖüÜß\\s\-]','g');
			var text  = obj.val();
			text 	= text.replace(pattern,'');
			obj.val(text);
			console.log(text);
		}
		function checkTag(event){
			var obj = null;
			if(event){
				if(event.keyCode == 13){
					addTag();
				}
				obj = $(event.target);
			}
			else{
				console.log(this);
			}
			var pattern = new RegExp('[^A-Za-z0-9_äÄöÖüÜß\-]','g');
			var text  = obj.val();
			text 	= text.replace(pattern,'');
			obj.val(text);
			console.log(text);
		}
		function addTag(){
			var e = jQuery.Event("click");
			e.target=$('#add_tag').get();
			
			if( $('#add_tag').val() != '' ){
				$('.tag_group').append('<span>'+$('#add_tag').val()+',</span>');
				$('#add_tag').val('');
			}
		}
	</script>
</div>
</div>
<!--END ADD SPOT FORM -->