<!-- Spot List Item -->
<div id="spot_object">
	<div class="spot_list_object">
		<div class="list_img">
			<img src="img/default_img_80.png" />
		</div>
		<div class="list_title">
			Unnamed Spot - 2012-09-01
		</div>
		<div class="list_info"> 
			<div class="list_tags">
				Sport, Hang-out, Park
			</div>
			<div class="list_date">
				12:15 2012-09-01
			</div>	
		</div>
	</div>
</div>
<div id="inputtester">
	 <form>
		First name: <input type="text" name="firstname" /><br />
		Last name: <input type="text" name="lastname" />
	</form> 
	<form>
		Password: <input type="password" name="pwd" />
	</form> 
	<textarea rows="2" cols="20"> At W3Schools you will find all the Web-building tutorials you need, from basic HTML to advanced XML, SQL, ASP, and PHP. </textarea>
</div>

<div id="scripter">
	<script type="text/javascript">
	$(document).bind('renderview',function(){
		console.log('Render List');
		
		dataBox.bind('spotsupdated',renderSpots);
		content.append('<div id="deviceready"><p class="status pending blink">Connecting to device failed please restart...</p><a href="views/spotslist.html">Der Knopf zur liste</a><a href="views/addSpot.html">Der Knopf zum ADD</a></div>');
		content.append($('#inputtester'));
		//last call
		basicUi();
	})
	function exitView(){
		dataBox.unbind('spotsupdated',renderSpots);
	}
	function renderSpots(){
		
	}
	</script>
</div>
<!--END Spot List Item -->